[Bb]in/
[Oo]bj/
*.suo
checkpoint1/.vs/checkpoint1/v15/Server/sqlite3/storage.ide
checkpoint1/.vs/checkpoint1/v15/Server/sqlite3/db.lock
testmedgit/.vs/testmedgit/v15/Server/sqlite3/storage.ide-wal
testmedgit/.vs/testmedgit/v15/Server/sqlite3/storage.ide-shm
testmedgit/.vs/testmedgit/v15/Server/sqlite3/storage.ide
testmedgit/.vs/testmedgit/v15/Server/sqlite3/db.lock
Övningar/testmedgit/.vs/testmedgit/v15/Server/sqlite3/storage.ide
Övningar/testmedgit/.vs/testmedgit/v15/Server/sqlite3/db.lock
C#/Övningar/testmedgit/.vs/testmedgit/v15/Server/sqlite3/db.lock
C#/Övningar/testmedgit/.vs/testmedgit/v15/Server/sqlite3/storage.ide
C#/Övningar/shapes7k1/.vs/shapes7k1/v15/Server/sqlite3/storage.ide-wal
C#/Övningar/shapes7k1/.vs/shapes7k1/v15/Server/sqlite3/storage.ide-shm
C#/Övningar/shapes7k1/.vs/shapes7k1/v15/Server/sqlite3/storage.ide
C#/Övningar/shapes7k1/.vs/shapes7k1/v15/Server/sqlite3/db.lock
C#/Övningar/checkpoint1/.vs/checkpoint1/v15/Server/sqlite3/storage.ide
C#/Övningar/checkpoint1/.vs/checkpoint1/v15/Server/sqlite3/db.lock
C#/Övningar/Böcker1i/.vs/Böcker1i/v15/Server/sqlite3/storage.ide-wal
C#/Övningar/Böcker1i/.vs/Böcker1i/v15/Server/sqlite3/storage.ide-shm
C#/Övningar/Böcker1i/.vs/Böcker1i/v15/Server/sqlite3/storage.ide
C#/Övningar/Böcker1i/.vs/Böcker1i/v15/Server/sqlite3/db.lock
C#/Övningar/böcker2i/.vs/böcker2i/v15/Server/sqlite3/storage.ide-wal
C#/Övningar/böcker2i/.vs/böcker2i/v15/Server/sqlite3/storage.ide-shm
C#/Övningar/böcker2i/.vs/böcker2i/v15/Server/sqlite3/storage.ide
C#/Övningar/böcker2i/.vs/böcker2i/v15/Server/sqlite3/db.lock
