@model Tolly.Models.CarToll

<div id="tull">    
    <form asp-action="DirectWayForToll">
        <select name="tal">
            <option  value="1">
                file1
            </option>
            <option value="2">
                file2
            </option>
            <option value="3">
                hemsida
            </option>
        </select>
        <button type="submit">Ok</button>

    </form>



</div>